/MP-TVSeries/Online Parsing Classes/APIKey.Designer.cs
/MP-TVSeries/Online Parsing Classes/APIKey.resx
/MP-TVSeries/bin
/MP-TVSeries/obj
/.vs
/ConfigLauncher/bin/
/MP-TVSeries/MP-TVSeries.csproj.user
/Transifex/.tx/config
/Transifex/pull.log
/MPEI/Release/*.mpe1
/ConfigLauncher/obj/